{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block custom_head_css_js %}
    <link href="{% static 'css/plugins/select2/select2.min.css' %}" rel="stylesheet">
    <link href="{% static "css/plugins/sweetalert/sweetalert.css" %}" rel="stylesheet">
    <script src="{% static 'js/plugins/select2/select2.full.min.js' %}"></script>
    <script src="{% static "js/plugins/sweetalert/sweetalert.min.js" %}"></script>
{% endblock %}
{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="panel-options">
                        <ul class="nav nav-tabs">
                            <li>
                                <a href="{% url 'deploy:DeployOptionList' pk=object.pk %}" class="text-center"><i class="fa fa-laptop"></i> {% trans 'Detail' %} </a>
                            </li>
                            <li  class="active">
                                <a href="{% url 'deploy:DeployHistory' pk=object.pk %}" class="text-center"><i class="fa fa-laptop"></i> 发布历史 </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="col-sm-12" style="padding-left: 0">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span style="float: left">{% trans 'History of ' %} <b>{{ object.app_name }}:{{ object.id }}</b></span>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                        </ul>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <table class="table table-hover " id="deploy-history-list-table" >
                                        <thead>
                                            <tr>
                                                <th class="text-center">
                                                    <input type="checkbox" id="check_all" class="ipt_check_all" >
                                                </th>
                                                <th>{% trans 'Date start' %}</th>
                                                <th>{% trans 'Status' %}</th>
                                                <th>{% trans 'Asset' %}</th>
                                                <th>{% trans 'Version' %}</th>
                                                <th>{% trans 'Type' %}</th>
                                                <th>{% trans 'User' %}</th>
                                                <th>{% trans 'History' %}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_foot_js %}
    <script>
        jQuery(document).ready(function(){

            console.log('deploy history')

            function initTable() {
                var options = {
                    ele: $('#deploy-history-list-table'),
                    buttons: [],
                    order: [],
                    select: [],
                    ajax_url: '{% url "api-deploy:history-list" %}?app={{ object.pk }}',
                    columnDefs: [
                        {targets: 2, createdCell: function (td, cellData) {
                            if (cellData) {
                                let html = '<i class="fa fa-check text-navy"></i>';
                                $(td).html(html);
                            }else {
                                let html = '<i class="fa fa-times text-danger"></i>';
                                $(td).html(html);
                            }
                        }},
                        {targets: 7, createdCell: function (td, cellData) {
                                if (cellData) {
                                    var detail_btn = '<a class="btn btn-xs btn-primary m-l-xs btn-run" href="{% url 'ops:adhoc-history-detail' pk=DEFAULT_PK %}">{% trans "Detail" %}</a>'.replace('{{ DEFAULT_PK }}', cellData);
                                    $(td).html(detail_btn);
                                }
                        }}
                    ],
                    columns: [
                        {data: function(){return ""}},
                        {data: "deploy_time"},
                        {data: "result"},
                        {data: 'asset'},
                        {data: 'version'},
                        {data: 'record_type'},
                        {data: 'deploy_user'},
                        {data:'history'}
                        ]
                };
                jumpserver.initDataTable(options);
        }
            $(document).ready(function () {
                initTable();
            });


        });
    </script>
{% endblock %}
