{% extends '_base_list.html' %}
{% load i18n static %}

{% block content_left_head %}
    <div class="uc pull-left m-l-5 m-r-5">
        {% if request.user.is_superuser %}
            <a href="{% url 'devops:task-create' %}" class="btn btn-sm btn-primary">
                {% trans "Create Task" %}
            </a>
        {% endif %}
    </div>{% endblock %}
{% block table_search %}{% endblock %}
{% block table_container %}
    <table class="table table-striped table-bordered table-hover" id="task_table">
        <thead>
        <tr>
            <th class="text-center">{% trans 'Name' %}</th>
            <th class="text-center">{% trans 'Description' %}</th>
            <th class="text-center">{% trans 'Success' %}</th>
            <th class="text-center">{% trans 'Ansible Role' %}</th>
            <th class="text-center">{% trans 'Tags' %}</th>
            <th class="text-center">{% trans 'Action' %}</th>
        </tr>
        </thead>
    </table>
{% endblock %}
{% block content_bottom_left %}
{% endblock %}


{% block custom_foot_js %}

    <script src="{% static "js/plugins/layer/layer.js" %}"></script>
    <script>
        $(document).ready(function () {
            let options = {
                ele: $('#task_table'),
                columnDefs: [
                    {
                        targets: 0,
                        /**
                         *
                         * @param td  行元素
                         * @param cellData  数据值
                         * @param rowData  该条记录值
                         */
                        createdCell: function (td, cellData, rowData) {
                            var detail_btn = '<a href="{% url "devops:task-detail" pk=DEFAULT_PK %}">' + cellData + '</a>';
                            $(td).html(detail_btn.replace('{{ DEFAULT_PK }}', rowData.id));
                        }
                    },
                    {
                        targets: 1,
                        createdCell: function (td, cellData) {
                            let innerHtml = cellData.length > 20 ? cellData.substring(0, 20) + '...' : cellData;
                            $(td).html('<span href="javascript:void(0);" data-toggle="tooltip" title="' + cellData + '">' + innerHtml + '</span>');
                        }
                    },
                    {
                        targets: 2,
                        createdCell: function (td, cellData) {
                            if (cellData==null){
                                $(td).html('')
                            }else if(cellData){
                                $(td).html(' <i class="fa fa-check text-navy"></i>')
                            }else{
                                $(td).html('<i class="fa fa-times text-danger"></i>')
                            }
                        }
                    },
                    {
                        targets: 5,
                        createdCell: function (td, cellData, rowData) {
                            let update_btn;
                            let clone_btn;
                            let del_btn;
                            let exec_btn = '<a class="btn btn-xs btn-primary m-l-xs btn-task-exec" data-uid="99991937" data-name="99991938">{% trans "Execute" %}</a>'
                                .replace('99991937', cellData)
                                .replace('99991938', rowData.name);
                            {% if request.user.is_superuser %}
                                clone_btn = '<a href="{% url "devops:task-clone" pk=DEFAULT_PK %}" class="btn btn-xs btn-info">{% trans "Clone" %}</a>'.replace('{{ DEFAULT_PK }}', cellData);
                                update_btn = '<a href="{% url "devops:task-update" pk=DEFAULT_PK %}" class="btn btn-xs m-l-xs btn-info">{% trans "Update" %}</a>'.replace('{{ DEFAULT_PK }}', cellData);

                                del_btn = '<a class="btn btn-xs btn-danger m-l-xs btn-task-delete" data-uid="99991937" data-name="99991938">{% trans "Delete" %}</a>'
                                    .replace('99991937', cellData)
                                    .replace('99991938', rowData.name);

                                $(td).html(clone_btn + update_btn + del_btn + exec_btn);
                            {% else %}
                                $(td).html(exec_btn);
                            {% endif %}
                        }
                    }
                ],
                columns: [{data: "name"}, {data: "desc"}, {data: "is_success"}, {data: "ansible_role_name"},
                    {data: "tags"}, {data: "id"}],
                ajax_url: '{% url "api-devops:task-list" %}'
            }
            jumpserver.initDataTable(options);

            setTimeout(function () {
                $("[data-toggle='tooltip']").tooltip();
            }, 1500);

        })
            .on('click', '.btn-task-delete', function () {
                //确认删除
                let $this = $(this);
                let name = $this.data('name');
                let uid = $this.data('uid');
                let the_url = '{% url "api-devops:task-opt-detail" pk=DEFAULT_PK %}'.replace('{{ DEFAULT_PK }}', uid);
                objectDelete($this, name, the_url);
            }).on('click', '.btn-task-exec', function () {
            //执行任务
            let $this = $(this);
            let uid = $this.data('uid');
            executeTask(uid);
        });

        function executeTask(id) {
            let success_message = "正在执行中。。。"
            let error = function (data) {
                toastr.error(data);
            }
            APIUpdateAttr({
                url: '{% url "devops:task-select" pk=DEFAULT_PK %}'.replace('{{ DEFAULT_PK }}', id),
                method: 'GET',
                error: function (data) {
                    toastr.error(data);
                },
                success: function (data) {
                    layer.open({
                        type: 1,
                        title: '请选择要执行任务的机器'
                        , content: data, area: ['500px']
                        , btn: ['确认', '关闭']
                        , zIndex: 500
                        , btnAlign: 'c' //按钮居中
                        , shade: 0 //不显示遮罩
                        , yes: function () {
                            var ids = [];

                            ids = ids.concat($("#task_" + id).select2('data').map(function (currentValue) {
                                return currentValue.id;
                            }));
                            console.log(ids)
                            var the_url = '{% url "api-ops:task-run" pk=DEFAULT_PK %}'.replace('{{ DEFAULT_PK }}', id);
                            var success = function () {
                                setTimeout(function () {
                                    console.log("ok")
                                }, 1000);
                                window.location = "{% url 'ops:task-detail' pk=DEFAULT_PK %}".replace('{{ DEFAULT_PK }}', id);
                            };
                            APIUpdateAttr({
                                url: the_url,
                                method: 'GET',
                                success_message: success_message,
                                error: error,
                                success: success,
                                body: {"ids": JSON.stringify(ids)}
                            });
                            layer.closeAll();
                        }, no: function () {
                            layer.closeAll();
                        }
                    });
                },
                content_type: 'text/html; charset=utf-8',
                data_type: 'html'
            });

        }

    </script>

{% endblock %}